@use '../../../styles/variables' as *;

.underIsland {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 영역 밖으로 튀어나가는 것 방지 */
}

.island {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); // y축은 from 0 to 50%으로 지정하여 위에서부터 펼쳐지도록 함

  width: 0;
  height: 2px;
  padding: 5px;
  border-radius: 20px;

  z-index: 2; // 팝업 등에 간섭이 일어나는 일이 없도록 지나치게 키우지 않도록 함, 혹은 추후 상태에 따른 별도의 class를 통한 zIndex 조정을 고려
  overflow: hidden;
  opacity: 0.8;

  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: flex-start; /* 세로 정렬: 상단부터 채우고 싶다면 flex-start, 세로도 중앙이면 center */

  transition:
          width 0.4s ease,
          height 0.4s ease,
          background-color 0.4s ease;
}

.islandContent {
  // 중요: 내부 엘리먼트들이 찌그러지지 않게 넓은 공간을 확보해 둡니다.
  width: 100%;
  max-width: 500px;
  height: 100%;

  // 처음에는 안 보이게 숨김
  opacity: 0;

  // 커튼 애니메이션이 끝나는 시점(0.8초)에 맞춰 부드럽게 등장하도록 설정
  transition: opacity 0.5s ease;
  transition-delay: 0.4s;

  z-index: 3; // 커튼 위에 올려야 하므로 z-index 높임
  color: white;

  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 정렬: 상단부터 채우고 싶다면 flex-start, 세로도 중앙이면 center */
}

/* 활성화 상태 (.active 클래스가 붙었을 때) */
.underIsland.active .island {
  /* [최종 상태] 화면을 꽉 채우고 색상이 다크하게 변경됨 */
  width: 70%;
  height: 30px;
  background-color: #dad9d9;
}
.underIsland.active .islandContent {
  opacity: 1;
}

/* 콘텐츠 스타일 */
.content {
  position: relative;
  z-index: 1;
  height: 100%;
}